{% extends 'base.html' %} 
{% block title %}
Registro Usuario
{% endblock %}

{% block body%}
    <h1>Hola {{usuario}} es momento de cambiar tu contraseña </h1>
    {% if context.message|length > 1 %}
        <div class="alert alert-{{context.type}} alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ context.message }}
        </div>
    {% endif %}
    
    <form method="POST" action="/cambiarpass">
        <div class="form-group">
            <span>Nueva contraseña</span>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary"> Cambiar contraseña</button>
    </form>

{% endblock %}